<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/style/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>
<body>

<section class="api">
    <table class = "api__table">
        <thead class="api__table--head">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Team Principal</th>
            <th>Number Of Turns</th>
        </tr>
        </thead>
        <tbody id="circuits__table--body">
        </tbody>
    </table>
</section>

<script src="../js/data.js"></script>
</body>
</html>