<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <title>FORMULA 1</title>
</head>
<body>

</body>
</html>

<header class="header">
    <div class="header__logo-box">
        <img src="../public/img/f1-logo.png" alt="F1 logo" class="header__logo">
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Formula1 API</span> <span class="heading-primary--sub">Drivers - Teams - Circuits</span>
        </h1>
        <a href="drivers.html" class="btn btn--white btn--animated">Drivers</a>
    </div>
</header>

</body>
</html>
